{{!-- <div class="comments">
  {{#each this}}
    <p>
      {{user.name}} on {{format_date created_at}}
    </p>
    <p class="text">
      {{comment_text}}
    </p>
  {{/each}}
</div> --}}
{{!-- Loop through all the comments --}}
<section class="comments">
  {{#each this}}
    <div class="text">
      {{this.user.name}} on {{format_date date_created}}:
    </div>
    <div class="text">
      {{this.comment_text}}
    </div>
  {{/each}}
</section>